h3 {
	position: relative;
	left: 10%;
	color: orange;
	text-align: left;
}

textarea {
	/*position: relative;
	left: 10%;
	width: 80%;
	height: 140px;
	text-align: left;
	font-size: 20px;*/
	border:1px solid  #c2c2a3 !important;
	display: block !important;
	position: relative !important;
	margin: 0;
	padding: 0;
	border-radius: 0;
	font: inherit;
	overflow-x: hidden !important;
	overflow-y: auto !important;
	left: 10%;
	width: 80%;
	height: 140px;
	text-align: left;
	font-size: 20px;
}

body {
    width:1180px;
}

